//
// Site Header Base Style
//==============================

.site-header {
  background-color: $site-header--background-color;
  -webkit-box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.36);
  border-bottom:1px solid $gray--lightest;

  > .wrap {
    padding: 0 20px;
  }

  @media only screen and (max-width: 1023px) {
    .wrap {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}