blockquote {
  margin: 40px;
  position:relative;
  z-index:5;

  /*&::after {
    content: "\201C";
    display: block;
    @include rem(font-size, 250px);
    height: 0;
    left: -80px;
    position: absolute;
    top: -80px;
    font-family: initial;
    z-index:1;
    opacity:.2;
    color:$blue;
  }*/
}