/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings--font-family;
  font-weight: 300;
  line-height: $headings--line-height;
  margin: 0 0 10px;
}

h1 {
  @include rem( font-size, $h1--font-size );
  color:$white;
  text-shadow:$base--text-shadow;
  margin:0 0 .8em;
}

h2 {
  @include rem( font-size, $h2--font-size );
  font-weight:400;
  margin:0 0 .8em;
}

h3 {
  @include rem( font-size, $h3--font-size );
}

h4 {
  @include rem( font-size, $h4--font-size );
}

h5 {
  @include rem( font-size, $h5--font-size );
}

h6 {
  @include rem( font-size, $h6--font-size );
}

// Class-based headings

.subheadline {
  color:$white;
  text-shadow:$base--text-shadow;
  line-height:$headings--line-height;
  margin:0 0 3em;
  @include rem( font-size, 18px );
}

.border-headline {
  padding-bottom: .5em;
  border-bottom: 1px solid #89B7D7;
  margin-bottom: .5em;
  width:100%;
}

// Media Queries

@media screen and (max-width:$screen-size--larger) {
  h1 {
    @include rem( font-size, 40px );
  }

  .subheadline {
    @include rem( font-size, 18px );
  }
}

@media screen and (max-width:$screen-size--small) {
  h1 {
    @include rem( font-size, 32px );
  }

  h2 {
    @include rem( font-size, 28px );
  }

  .subheadline {
    @include rem( font-size, 16px );
  }
}