/* ## Breadcrumbs
--------------------------------------------- */

.breadcrumb {

  padding:0;
  margin-bottom:60px;
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  @include rem( font-size, $h5--font-size );

  a {
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 12px 0;
    display:block;
    text-shadow:1px 1px 0 rgba(0,0,0,0.3);

    &:before {
      content: '\00AB';
      line-height: 1;
      font-size: 1.5em;
      padding-right: 0.3em;
      display: inline;
    }
  }
}


.hero__text-container--right .breadcrumb {
  text-align:right;
}

.breadcrumb:hover, .breadcrumb:focus {

  a {
    color:rgba(137, 183, 215, 1);
  }
}
