/* ## Drawer Navigation
--------------------------------------------- */

.drawer-navigation__toggle {
  display: block;
  width: 20px;
  float: inherit;
  margin-top: 26px;

  :hover {
    cursor:pointer;
  }
}

#drawer-nav {
  position: absolute;
  top: 90px;
  left: 0px;
  min-width: 226px;
  z-index: 1002;
  display:none;
  height:auto !important;
}

.admin-bar #drawer-nav {
  top:122px;
}

.multilevelpushmenu_wrapper {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  .levelHolderClass {
    position: absolute;
    overflow: hidden;
    top: 0;
    background: #336ca6;
    width: auto;
    min-height: 100%;
    font-size: 1em;
    zoom: 1;
  }

  .ltr {
    margin-left: -100%;
    left: 0;
    -moz-box-shadow: 5px 0 5px -5px #1f4164;
    -webkit-box-shadow: 5px 0 5px -5px #1f4164;
    box-shadow: 5px 0 5px -5px #1f4164;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164,direction=90,strength=2);
  }

  .rtl {
    margin-right: -100%;
    right: 0;
    -moz-box-shadow: 5px 0 5px 5px #1f4164;
    -webkit-box-shadow: 5px 0 5px 5px #1f4164;
    box-shadow: 5px 0 5px 5px #1f4164;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164,direction=270,strength=2);
  }

  .multilevelpushmenu_inactive {
    background: #2e6196;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    color: #1f4164;
    padding: 0 .4em 0 .4em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    cursor: pointer;
    border-top: 1px solid #295685;
    padding: .4em .4em .4em .4em;
  }

  li:last-child {
    border-bottom: 1px solid #295685;
  }

  li:hover {
    background-color: #295685;
  }

  a {
    display: block;
    outline: none;
    overflow: hidden;
    font-size: 1.5em;
    line-height: 1em;
    padding: .2em .2em;
    text-decoration: none;
    color: #fff;
  }

  a:hover {
    color: #ffe;
  }

  .backItemClass {
    display: block;
    padding: .4em .4em .4em .4em;
    background: #2e6196;
    border-top: 1px solid #295685;
  }

  .floatRight {
    float: right;
  }

  .floatLeft {
    float: left;
  }

  .cursorPointer {
    cursor: pointer;
  }

  .iconSpacing_ltr {
    padding: 0 .4em 0 0;
  }

  .iconSpacing_rtl {
    padding: 0 0 0 .4em;
  }
}