/* ## Drawer Navigation
--------------------------------------------- */

.drawer-navigation__toggle {
  display: block;
  width: 20px;
  float: inherit;
  margin-top: 26px;

  :hover {
    cursor:pointer;
  }
}

#drawer-nav {
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 1002;
  display:none;
  height:calc(100vh - 80px) !important;

  @include media( $breakpoint__screen-size--small ) {
    z-index:1;
  }

}

.admin-bar #drawer-nav {
  top:112px;
  height:calc(100vh - 112px) !important;
}

.multilevelpushmenu_wrapper {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  .genesis-nav-menu {
    display:block !important;
  }

  .levelHolderClass {
    position: absolute;
    overflow: hidden;
    top: 0;
    background-color: $gray--lightest;
    width: auto;
    min-height: 100%;
    font-size: 1em;
    zoom: 1;
  }

  .ltr {
    margin-left: -100%;
    left: 0;
    -moz-box-shadow: 1px 0 1px 0px rgba(0,0,0, 0.1);
    -webkit-box-shadow: 1px 0 1px 0px rgba(0,0,0, 0.1);
    box-shadow: 1px 0 1px 0px rgba(0,0,0, 0.1);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164,direction=90,strength=2);
  }

  .rtl {
    margin-right: -100%;
    right: 0;
    -moz-box-shadow: 5px 0 5px 5px $gray;
    -webkit-box-shadow: 5px 0 5px 5px $gray;
    box-shadow: 5px 0 5px 5px #1f4164;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164,direction=270,strength=2);
  }

  .multilevelpushmenu_inactive {
    background: $gray--lightest;
  }

  h2 {
    padding:16px 20px;
    margin-bottom:0;
    font-family: $font-family--lato;
    @include rem( font-size, 20px );
    color: #3D749B;
    font-weight:300;

    &:before {
      content: "::";
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li, li.menu-item {
    cursor: pointer;
    border-top: 1px solid $gray--light;
    padding: .4em .4em .4em .4em;
    background-color:$white;
    display: block;


  }

  a {
    padding:16px 20px;
    font-weight:300;
  }

  .fa {
    color:$gray--light;
  }



  .backItemClass {
    display: block;
    padding: .4em .4em .4em .4em;
    background: rgba(137, 183, 215, 0.28);
  }

  .floatRight {
    float: right;
  }

  .floatLeft {
    float: left;
  }

  .cursorPointer {
    cursor: pointer;
  }

  .iconSpacing_ltr {
    padding: 0 .4em 0 0;
  }

  .iconSpacing_rtl {
    padding: 0 0 0 .4em;
  }
}