/* ## Content Block
--------------------------------------------- */

.content-block {
  background-size:cover;
  position:relative;
  background-color:$gray--lightest;

  li {
    list-style-position:inside;
    @include rem(font-size, 18px);
    margin-bottom:1em;
  }

  li:before {
    content:'\00bb';
    font-size: 1.2em;
    margin-right: .5em;
    color: $blue;
  }

  h3 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-bottom: .5em;
    border-bottom: 1px solid #89B7D7;
    margin-bottom: .5em;
  }

  .content-block__inner {
    padding:60px 100px;
    position:relative;
  }

  &.content-block--team-member {
    background-color:transparent;
    margin-bottom:30px;
  }

  &.content-block--image-right {
    display:block;
  }

  &.content-block--image-corner {

    .block-background {
      background-color:$gray--lightest;
      position:absolute;
      width:calc(50% + 1px);
      height:100%;
      left:0;
      top:0;

    }
    .corner-background, .corner-overlay {
      position:absolute;
      width:50%;
      height:100%;
      top:0;
      left:50%;
    }

    .corner-image {
      position:absolute;
      width:50%;
      height:100%;
      top:0;
      left:50%;
      background-attachment: fixed;
      background-size: cover;
      background-position:right;

    }

    .corner-background {
      background: linear-gradient(to top left, transparent 50%, $gray--lightest 50%);
    }

    .corner-overlay {
      background:$blue-gradient;
      opacity:.66;
    }

    .content-block__inner {
      max-width:1100px;

      p {
        max-width:680px;
      }
    }
  }

  @media screen and (max-width:$screen-size--large) {
    &.content-block--image-corner .corner-background {
      background: linear-gradient(to top left, transparent 40%, $gray--lightest 40%);
    }
  }

  @media screen and (max-width:$screen-size--medium) {
    &.content-block--image-corner {
      .corner-background {
        background: $gray--lightest;
      }

      .corner-image {
        background-image:none !important;
      }

      .corner-overlay {
        display:none;
      }
    }

    .content-block__inner {
      padding:60px;
    }
  }

  @media screen and (max-width:$screen-size--small) {
    &.content-block--image-right {
      img {
        margin-top:60px;
        display:none;
      }
    }

    .content-block__inner {
      padding:60px 30px;
    }
  }
}