/* ## Featured Article
--------------------------------------------- */
.featured-article {
  position:relative;
  background-size:cover;
  background-position: 80%;

  .featured-article__text-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.37);

    .wrap {
      padding: 140px 80px;
      max-width:650px;
      margin-left:0;

      @include media( $breakpoint__screen-size--small ) {
        padding:140px 30px;
      }
    }
  }
}