/* ## Hero
--------------------------------------------- */
.hero {
  position:relative;
  background-size:cover;
  background-position: 80%;

  .overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.43);
  }

  .hero__text-container {
    max-width:1600px;
    margin-left:auto;
    margin-right:auto;

    .wrap {
      padding:140px 60px;
      max-width:750px;
      margin-left:0;

      &.contains-breadcrumb {
        padding:70px 60px;
      }

      @include media( $breakpoint__screen-size--small ) {
        padding:80px 30px;
      }

      &.contains-breadcrumb {
        padding:40px 30px;
      }
    }
  }
}