// Common Fonts
$font-family--lato: 'Lato', sans-serif;
$font-family--roboto: 'Roboto', sans-serif;

// Base Typography
$html--font-size: 62.5%;

$base--font-family: $font-family--roboto;
$base--font-size: 16px;
$base--font-size--small-screen: 16px;
$base__div--font-size: 1.6rem;
$base__div--font-size--small-screen: 1.6rem;
$base--line-height: 1.5;
$base--text-shadow: 1px 1px 3px rgba(0,0,0,.2);

// Headings
$headings--font-family: $font-family--lato;
$headings--line-height: 1.2;
$h1--font-size:  46px;
$h2--font-size:  36px;
$h3--font-size:  22px;
$h4--font-size:  18px;
$h5--font-size:  16px;
$h6--font-size:  14px;

// Elements
$blockquote--font-size: 30px;
$input--font-size: 18px;
$button--font-size: 16px;
$subtitle--font-size:20px;

//
// Navigation
//===========
$nav--font-size: 16px;
$submenu--font-size: 14px;
$primary-nav--font-size: 14px;
$archive-pagination--font-size: 16px;

//
// Header
//==================
$site-title--font-size: 30px;
$site-description--font-size: 16px;


//
// Footer
//==================
$site-footer--font-size: 16px;
$footer-widgets--font-size: 18px;

//
// Entry Content
//===================
$entry-meta--font-size: 16px;
$entry-header__entry-meta--font-size: 16px;
$entry-footer__entry-meta--font-size: 16px;

$entry-title--font-size: 36px;

//
// Comments
//===================
$comments--font-size: 16px;

//
// Widgets
//===================
$widget-title--font-size: 18px;
$featured-content__entry-title--font-size: 20px;

//
// Plugins
//===================
$enews--font-size: 16px;

//
// General Components
//===================
$breadcrumbs--font-size: 16px;
$author-box--font-size: 18px;
$author-box__Title--font-size: 20px;
$after-entry--font-size: 18px;
$archive-description--font-size: 18px;
$archive-title--font-size: 20px;

