/* ## Home Page CSS
--------------------------------------------- */

.home {
  .content-block--image-right {
    border-top:1px solid #3D749B;
    background-color:transparent;
  }
}

.home-page__flexbox {

  @media screen and (max-width: $screen-size--medium) {
    .one-fourth, .three-fourths {
      width:100%;
      margin-left:0;
    }
  }

  @include media( $breakpoint__screen-size--small ) {
    &.row--padding {
      padding: 60px 0;
    }
    .one-fourth {
      padding: 60px 30px;
    }

    .link-block-inner {
      padding:0 30px;
    }
  }
}