/* ## Page Inner CSS
--------------------------------------------- */

.inner-page__flexbox {
  .recent-articles {
    padding:30px;
    background-color:rgba(137, 183, 215, 0.28);
    margin-bottom:30px;
  }

  li:last-child {
    margin-bottom:0;
  }

  @include media ( $breakpoint__screen-size--large ) {
    .one-fourth {
      width: 31.623931623931625%;
    }

    .three-fourths {
      width: 65.81196581196582%;
    }
  }

  @include media ( $breakpoint__screen-size--medium) {
    .one-fourth {
      width: 38.974358974358972%;
    }

    .three-fourths {
      width: 58.461538461538458%;
    }
  }

  @include media ( $breakpoint__screen-size--small ) {

    li:last-child {
      margin-bottom:0;
    }

    .one-fourth {
      order:2;
      width: 100%;
      margin-top: 30px;
    }

    .three-fourths {
      order:1;
      width: 100%;
    }


  }
}

.page-template-page_inner--consumer {
  .inner-page__flexbox {
    padding-bottom:0;
  }
}

.page-template-page_inner,
.page-template-page_inner--consumer,
.page-template-page_inner--solutions {
  .link-block-inner {
    margin-top:0;
  }

  .row--padding {
    padding:60px 60px 0;

    &:last-child {
      padding-bottom:60px;
    }
  }

  .intel-footer-cta {
    margin-top:60px;
  }

  @include media($breakpoint__screen-size--small) {
    .row--padding {
      padding: 30px 30px 0;
    }

    .row--padding.inner-page__flexbox {
      padding: 30px 0 0;

      .two-thirds, .inner-content {
        padding: 30px 30px 0;
      }
    }
  }
}

